@import url("https://fonts.googleapis.com/css2?family=Forum&display=swap");
.main__section1 {
  width: 100vw;
  background-color: #f8d2dd;
  margin-top: 1em;
  border: 1px solid #ff3285;
}
.section1__container {
  padding: 1em;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section1__text {
  position: absolute;
  text-align: center;
  left: 27%;
  top: 42%;
}
.section1__text h2 {
  color: white;
  font-family: "Forum", cursive;
  font-size: 4rem;
  font-weight: 100;
}
.section1__text button {
  border: none;
  color: #ff3285;
  background-color: white;
  padding: 0.8rem 1.4rem;
  border-radius: 1em;
  font-size: 1.7rem;
  font-weight: 100;
  margin-top: 3em;
}
.section2__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 0;
  gap: 1.6em;
}
.section2__top h2 {
  color: #ff3285;
  font-family: "Forum", cursive;
  font-size: 2.5rem;
}
.section2__category {
  display: flex;
  gap: 1em;
}
.section2__top button {
  color: #ff3285;
  font-size: 2rem;
  padding: 0.1em 0.4em;
  border: none;
  background-color: #f8d2dd;
  border-radius: 0.5em;
  font-family: "Forum", cursive;
}
.section2__bottom {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1em;
}
.main__section3 {
  background-color: #f8d2dd;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3__top,
.section3__bottom {
  border-radius: 1em;
  width: 95vw;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section3__top h2,
.section3__bottom h2 {
  color: white;
  font-family: "Forum", cursive;
  font-size: 8rem;
  font-weight: 100;
}
.section3__top {
  background-image: url(../../assets/section3-photo1.png);
  margin-bottom: 2em;
}
.section3__bottom {
  background-image: url(../../assets/section3-photo1.png);
}

.main__section4 {
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main__section4 h3 {
  font-size: 2rem;
  font-family: "Forum", cursive;
  color: #ff3285;
  margin-bottom: 2rem;
}

.section4__container {
  width: 100vw;
  background-color: #f8d2dd;
  display: flex;
  justify-content: center;
}

/* ! CAROUSEL START */

.section4__caroousel_item {
  display: flex;
  align-items: center;
  padding-left: 5%;
  gap: 2rem;
}

.section4__caroousel_item img {
  max-width: 270px;
  border-radius: 1em;
}

/* ! CAROUSEL START */
